@using Front.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mobarak  </title>
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/css/owl.transitions.css" rel="stylesheet">
    <link href="~/Content/css/cs-select.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="~/Content/css/freepik.hotels.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="@Front.Resources.Global.StyleUrl" rel="stylesheet">

    <script src="~/Content/js/modernizr.custom.min.js"></script>
     
     
    <script src="~/Content/js/1.7.1_jquery.min.js"></script>
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@
    <script src="~/Content/js/jquery.form-validator.js"></script> 
    @*LightBox Owners*@
    <link type="text/css" rel="stylesheet" href="~/Scripts/featherlight.min.css" />
    <style type="text/css">
        @@media all {
            .lightbox {
                display: none;
            }

            .fl-page h1,
            .fl-page h3,
            .fl-page h4 {
                font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
                font-weight: 100;
                letter-spacing: 1px;
            }

            .fl-page h1 {
                font-size: 110px;
                margin-bottom: 0.5em;
            }

                .fl-page h1 i {
                    font-style: normal;
                    color: #ddd;
                }

                .fl-page h1 span {
                    font-size: 30px;
                    color: #333;
                }

            .fl-page h3 {
                text-align: right;
            }

            .fl-page h3 {
                font-size: 15px;
            }

            .fl-page h4 {
                font-size: 2em;
            }

            .fl-page .jumbotron {
                margin-top: 2em;
            }

            .fl-page .doc {
                margin: 2em 0;
            }

            .fl-page .btn-download {
                float: right;
            }

            .fl-page .btn-default {
                vertical-align: bottom;
            }

            .fl-page .btn-lg span {
                font-size: 0.7em;
            }

            .fl-page .footer {
                margin-top: 3em;
                color: #aaa;
                font-size: 0.9em;
            }

                .fl-page .footer a {
                    color: #999;
                    text-decoration: none;
                    margin-right: 0.75em;
                }

            .fl-page .github {
                margin: 2em 0;
            }

                .fl-page .github a {
                    vertical-align: top;
                }

            .fl-page .marketing a {
                color: #999;
            }

            /* override default feather style... */
            .fixwidth {
                background: rgba(256,256,256, 0.8);
            }

                .fixwidth .featherlight-content {
                    width: 500px;
                    padding: 25px;
                    color: #fff;
                    background: #111;
                }

                .fixwidth .featherlight-close {
                    color: #fff;
                    background: #333;
                }
        }

        @@media(max-width: 768px) {
            .fl-page h1 span {
                display: block;
            }

            .fl-page .btn-download {
                float: none;
                margin-bottom: 1em;
            }
        }
    </style>
</head>
<body>
    <input type="hidden" id="HServicesURL" value="@System.Configuration.ConfigurationManager.AppSettings["ServerIp"]" />
    <input type="hidden" name="HCurrentLang" id="HCurrentLang" value="en">

    <!-- Menu and Search Button -->
    @{
        Html.RenderPartial("_HeaderNavBar");
    }

    <!-- Loaded Body Content   -->
    @RenderBody()

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jssor.slider.mini.js"></script>
    <script src="~/Content/js/classie.js"></script>
    <script src="~/Content/js/selectFx.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.min.js"></script>
    @*<script src="~/Content/js/starrr.min.js"></script>
        <script src="~/Content/js/nivo-lightbox.min.js"></script>
        <script src="~/Content/js/jquery.shuffle.min.js"></script>*@
    @*<script src="http://maps.google.com/maps/api/js?sensor=true"></script>*@
    <script src="~/Content/js/gmaps.min.js"></script>
    <script src="~/Content/js/jquery.parallax-1.1.3.js"></script>
    <script src="~/Content/js/script.js"></script>

    @{
        Html.RenderPartial("_Footer");
    }

    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var apiUrl = document.querySelector('#HServicesURL').value;
            var currentLang = document.querySelector('#HCurrentLang').value;
            document.getElementById("HotelMore").style.display = "none";

            //   var searchkeys = document.querySelector('#searchkey').value;
            //      alert(searchkeys);

            $("#searchnow").click(function () {
                window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["HomeUrl"]" + "/news/Search?keyword=" + document.querySelector('#searchkeyword').value;

            }
          );

            //$.blockUI({
            //    css: {
            //        position: 'fixed',
            //        top: '0',
            //        left: '0',
            //        'z-index': '999999',
            //        width: '100%',
            //        height: '100%',
            //        'background-color': '#fff',
            //        'background-image': 'url(/Content/images/Preloader_7.gif)',
            //        'background-repeat': 'no-repeat',
            //        'background-position': 'center center'
            //    }
            //});
            //$.getJSON("http://localhost:2798/File/Home.json", function (json) {
            //    console.log(json); // this will show the info it in firebug console
            //});
            $.ajax({
                url: apiUrl + "/SystemParameters/Hotels/GetAllWithCount?langId=@Common.CurrentLang",
                type: "Get",
                success: function (data) {
                    var more = "View More";
                    var list = [];
                    if (data.length === 0) {
                        document.getElementById("hotelMenu").style.display = "none";
                    }
                    //if (data.length <= 10) {
                    //    document.getElementById("HotelMore").style.display = "block";
                    //}
                    for (var i = 0; i < data.length; i++) {

                        if (data[i].ImageList.length > 0 && data[i].FeaturesList.length > 0) {

                            $(
                                "<li>" +
                                "<a href='/Hotel/Details/" + data[i].Id + "'>" + data[i].TitleDictionary['@Common.CurrentLang'] + "</i></a>"

                            ).appendTo("#ulAllHotels");
                            $( 
                            "<option value='" + data[i].TitleDictionary['@Common.CurrentLang'] + "'>" + data[i].TitleDictionary['@Common.CurrentLang'] + "</option>"

                            ).appendTo("#HotelName");
                        }
                        //else {
                        //    document.getElementById("hotelMenu").style.display = "none";
                        //}

                        // list.push(data[i].Id);
                    }
                    if (data.length >= 5) {
                        $(
                            "<li>" + "<a href='/Hotel/Index'>" + more + "</i></a>"
                        ).appendTo("#ulAllHotels");
                    }
                    // $.localStorage('listlist', list);

                    //  var value = $.localStorage('hotelList');
                    //for (var i = 0; i < value.length; i++) {
                    //  //  console.log(value[i].DisplayValue);
                    //  //  $.localStorage('hotelListRead', value[i].DisplayValue);
                    //}
                    // unblock when ajax activity stops
                    $(document).ajaxStop($.unblockUI);
                },
                error: function (msg) {
                    // alert("hotel error");
                }
            });

            /*load footer data*/
            $.ajax({
                url: apiUrl + "/SystemParameters/ContactUs/GetAll?langId=@Common.CurrentLang",
                type: "Get",
                success: function (data) {
                    $(
                        "<p style='direction: ltr;margin-bottom: 6px;'>" + data.PhoneNo1 + "<br>" + data.PhoneNo2 + "</p>"
                     ).appendTo("#divphones");
                    $(
                        "<p style='margin-bottom: 6px;'>" +
                        "<a href='mailto:#'>" + data.MailNo1 + ""
                       + "</p>"
                    ).appendTo("#divmail");
                    $(
                        "<p style='margin-bottom: 6px;'>" +
                        "@Front.Resources.Global.Footer_PostalCode  " + data.PostalCode + ""
                        + "</p>"
                    ).appendTo("#divmail");
                    $(
                        "<p style='margin-bottom: 6px;'>" +
                        "@Front.Resources.Global.Footer_Mailbox  " + data.Mailbox + ""
                        + "</p>"
                    ).appendTo("#divmail");

                    $(
                        "<li>" + "<a target='Blank' href='" + data.Facebook + "'>" + "<i class='fa fa-facebook'></i>" + "</i></a>"
                        + "<li>" + "<a target='Blank' href='" + data.Twitter + "'>" + "<i class='fa fa-twitter'></i>" + "</i></a>"
                        + "<li>" + "<a target='Blank' href='" + data.Instgram + "'>" + "<i class='fa fa-instagram'></i>" + "</i></a>"
                        + "<li>" + "<a target='Blank' href='" + data.Youtube + "'>" + "<i class='fa fa-youtube'></i>" + "</i></a>"
                    ).appendTo("#divsocial");

                    //$(
                    //    "<p style='direction: ltr;margin-bottom: 6px;'>" + data.PhoneNo1 +  "</p>"
                    //).appendTo("#divPhonesHeader");
                    //$(
                    //    "<p style='margin-bottom: 6px;'>" +
                    //    "<a href='mailto:#'>" + data.MailNo1 + ""
                    //    + "</p>"
                    //).appendTo("#divMailHeader");

                },
                error: function (msg) {
                    //alert("error footer");
                }
            });

        });
    </script>
</body>
</html>