@using Tourista.API.Models
@using TouristaFrontEnd.Helper


<section class="contact style-1">
    <div class="container">
        <div class="row">
            <div class="wrapper-contact-style">
                <div data-wow-delay="0.5s" class="contact-wrapper-images wow fadeInLeft"><img src="/Content/images/homepage/contact-people.png" alt="" class="img-responsive"></div>
                <div class="col-lg-6 col-sm-7 col-lg-offset-4 col-sm-offset-5">
                    <div data-wow-delay="0.4s" class="contact-wrapper padding-top padding-bottom wow fadeInRight">
                        <div class="contact-box">
                            <h5 class="title">@TouristaFrontEnd.Resources.Global.Footer_ContactUs</h5>

                            <p class="text">
                                @TouristaFrontEnd.Resources.Global.Contactus_Text

                            </p>

                            <form class="contact-form" id="myForm">
                                <input type="text" class="form-control form-input"
                                       placeholder="@TouristaFrontEnd.Resources.Global.ContactUs_FullName" id="FirstName"
                                       data-validation-length="min4" data-validation="required"
                                       data-validation-error-msg="@TouristaFrontEnd.Resources.Global.ContactUs_Firstname_Val">

                                <input type="email" placeholder="@TouristaFrontEnd.Resources.Global.ContactUs_Email"
                                       class="form-control form-input" id="Email" data-validation="email"
                                       data-validation-error-msg="@TouristaFrontEnd.Resources.Global.ContactUs_Email_Val">

                                <textarea class="form-control form-input" placeholder="@TouristaFrontEnd.Resources.Global.ContactUs_Message"
                                          id="Message"
                                          rows="5" data-validation="required"
                                          data-validation-error-msg="@TouristaFrontEnd.Resources.Global.ContactUs_Message_Val"></textarea>
                                <div id="MSGCONTACT" style="color: red;"> </div>

                                <div class="contact-submit">
                                    <button id="btnSubmitContactFrom" data-hover="SEND NOW" class="btn btn-slide">
                                        <span class="text">@TouristaFrontEnd.Resources.Global.ContactUs_SendInquiry</span>
                                        <span class="icons fa fa-long-arrow-right"></span>
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<script>
        $.validate({
            form: '#myForm',
            modules: 'security',
            onError: function ($form) {
                debugger
                alert('Validation of form ' + $form.attr('id') + ' failed!');
            },
            onSuccess: function ($form) {
                debugger
                sendContact();
                return false;
            }

        });
    </script>*@

<script type="text/javascript">


    $(document).ready(function () {
        //$('#btnSubmitContactFrom').attr('disabled', true);
      



        $("#btnSubmitContactFrom").click(function () {
            if ($('#FirstName').val() == "" || $('#Email').val() == "" || $('#Message').val() == ""  ) {
                alert("You must enter all inputs")
                return;
            } sendContact();
        });

        function sendContact() {

            var contact = {
                UserName: $("#FirstName").val(),
                Email: $("#Email").val(),
                Message: $("#Message").val()

            }

            //$('#MSGCONTACT').html('Error in Contact form');
            debugger
            $.ajax({
                //url: "http://localhost:50755/API/ContactForms",
                url: "http://touristaegy.com/backend/API/ContactForms",
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    debugger
                    alert("Thanks, we will contact you soon")
                    $("#FirstName").val() = "";
                    $("#Email").val() = "";
                    $("#Message").val() = "";
                    $('#btnSubmitContactFrom').attr('disabled', false);
                   // $('#MSGCONTACT').html("sucess ContactUs_JS_2 !");
                },
                data: contact
            });
        }

    });
</script>