
@using TouristaFrontEnd.Helper

@{
    ViewBag.Title = "Home Page";
}

<div class="main-content">
    <section class="page-banner homepage-default">
        <div class="container">
            <div class="homepage-banner-warpper">
                <div class="homepage-banner-content">
                    <div class="group-title">
                        <h1 class="title">@TouristaFrontEnd.Resources.Global.discover</h1>

                        <p class="text">@TouristaFrontEnd.Resources.Global.discovertext<span class="boder"></span></p>
                    </div>
                    @*<div class="group-btn"><a href="#" data-hover="CLICK ME" class="btn-click"><span class="text">@TouristaFrontEnd.Resources.Global.viewtours</span><span class="icons fa fa-long-arrow-right"></span></a></div>*@
                </div>
            </div>
        </div>
    </section>

    @*here is flight*@

    <section class="about-us layout-1 padding-top padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="group-title">
                        <div class="sub-title">
                            <p class="text">@TouristaFrontEnd.Resources.Global.About_Title</p>
                        </div>
                        <h2 class="main-title">we are Tourista</h2>
                    </div>
                    <div class="about-us-wrapper">
                        <p class="text">
                            <div>
                                @Html.Partial("AboutHome")

                                @*<div class="partialContents" data-url="/Home/About">
                                    </div>*@
                            </div>

                        </p>

                        @* <div class="group-button">
                            @Html.ActionLink("read more", "Index", "About", new { @class = "btn" })
                                                <a href="/About/Index" class="btn">@TouristaFrontEnd.Resources.Global.SeeMore</a>
                                            </div>*@
                    </div>
                </div>
                <div class="col-md-5">
                    <div data-wow-delay="0.5s" class="about-us-image wow zoomIn"><img src="/Content/images/homepage/about-us-1.jpg" alt="" class="img-responsive"></div>
                </div>
            </div>
        </div>
    </section>


    @Html.Partial("BackageHome")

    <section class="videos layout-1">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="video-wrapper padding-top padding-bottom">
                        <h5 class="sub-title">@TouristaFrontEnd.Resources.Global.its <strong>@TouristaFrontEnd.Resources.Global.bigworld</strong> @TouristaFrontEnd.Resources.Global.outthere</h5>

                        <h2 class="title">@TouristaFrontEnd.Resources.Global.GOEXPLORE</h2>

                        <div class="text"> @TouristaFrontEnd.Resources.Global.AboutText</div>
                        @*<a href="tour-result.html" class="btn btn-maincolor">@TouristaFrontEnd.Resources.Global.SeeMore</a>*@
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="video-thumbnail">
                        <div class="video-bg"><img src="/Content/images/homepage/video-bg.jpg" alt="" class="img-responsive"></div>
                        <div class="video-button-play"><i class="icons fa fa-play" style="margin:25"></i></div>
                        <div class="video-button-close"></div>
                        @*<iframe src="@Common.VideoUrl" allowfullscreen="allowfullscreen" class="video-embed"></iframe>*@
                        <iframe src="https://www.youtube.com/embed/AAo5dgCpGZ0?rel=0" allowfullscreen="allowfullscreen" class="video-embed"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("HotelHome")



    @*@Html.Partial("OwnerHome")*@

    @Html.Partial("NewsHome")
    @Html.Partial("ContactUsHome")

</div>
