
@using Tourista.API.Models
@using TouristaFrontEnd.Helper

<footer>
    <div class="subscribe-email">
        <div class="container">
            <div class="subscribe-email-wrapper">
                <div class="subscribe-email-left">
                    <p class="subscribe-email-title">  <span class="logo-text">@TouristaFrontEnd.Resources.Global.FooterText</span> </p>
                 </div>
                <div class="subscribe-email-right">

                    <form id="myForm">
                        <div class="input-group form-subscribe-email">

                            <input type="email" placeholder="@TouristaFrontEnd.Resources.Global.ContactUs_Email" class="form-control form-input"
                                   id="Mail" data-validation="email" data-validation-error-msg="Pleae enter correct email format">

                            @*<input type="email" class="form-control"
                                data-validation-error-msg="Pleae enter correct email format"
                                placeholder="Write your email heeeer"
                                id="Mail" data-validation="email">*@
                            <span class="input-group-btn">
                                <button id="btnSubmitNewslatter" class="btn-email">&#8594;</button>
                            </span>

                        </div>
                        <span id="MSG" style="color: white">

                        </span>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="footer-main padding-top padding-bottom">
        <div class="container">
            <div class="footer-main-wrapper">
                <a href="/Home/Index" class="logo-footer"><img src="/Content/images/logo/logo.png" alt="" class="img-responsive" /></a>

                <div class="row">
                    <div class="col-2">
                        <div class="col-md-3 col-xs-5">
                            <div class="About-us-widget widget">
                                <div class="title-widget">@TouristaFrontEnd.Resources.Global.Header_About</div>
                                <div class="content-widget">
                                    <div class="info-list">
                                        <ul class="list-unstyled">
                                            <li>
                                                @Common.GeneralModel.About[0].DescriptionDictionary[Common.CurrentLang]
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="col-md-3 col-xs-6">
                            <div class="destination-widget widget">
                                <div class="title-widget">@TouristaFrontEnd.Resources.Global.Destination</div>
                                <div class="content-widget">
                                    <ul class="list-unstyled list-inline">
                                        @if (Common.GeneralModel.Owner != null)
                                        {
                                            foreach (HotelModel ownerObj in Common.GeneralModel.Hotel)
                                            {
                                                foreach (var imgObj in ownerObj.ImagesURL)
                                                {

                                                    <li> <img src="@imgObj" alt="" class="img-responsive" /> </li>

                                                }
                                                @*<li><a href="#" class="thumb"><img src="/Content/images/footer/gallery-02.jpg" alt="" class="img-responsive" /></a></li>
                                                    <li><a href="#" class="thumb"><img src="/Content/images/footer/gallery-03.jpg" alt="" class="img-responsive" /></a></li>
                                                    <li><a href="#" class="thumb"><img src="/Content/images/footer/gallery-04.jpg" alt="" class="img-responsive" /></a></li>
                                                    <li><a href="#" class="thumb"><img src="/Content/images/footer/gallery-05.jpg" alt="" class="img-responsive" /></a></li>
                                                    <li><a href="#" class="thumb"><img src="/Content/images/footer/gallery-06.jpg" alt="" class="img-responsive" /></a></li>*@
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-3">
                            <div class="booking-widget widget text-center">
                                <div class="title-widget">@TouristaFrontEnd.Resources.Global.Booking_PageTitle</div>
                                <div class="content-widget">
                                    <ul class="list-unstyled">
                                        <li><a href="/Hotel/Index" class="link">@TouristaFrontEnd.Resources.Global.Header_Hotels</a></li>
                                        @*<li><a href="/Tour/Index" class="link">@TouristaFrontEnd.Resources.Global.Tours</a></li>*@

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 col-xs-5">
                        <div class="contact-us-widget widget">
                            <div class="title-widget">@TouristaFrontEnd.Resources.Global.Header_Contact</div>
                            <div class="content-widget">
                                <div class="info-list">
                                    <ul class="list-unstyled">
                                        <li><i class="icons fa fa-map-marker"></i> @Common.GeneralModel.Contact[0].AddressDictionary[Common.CurrentLang] </li>
                                        <li><i class="icons fa fa-phone"></i>@Common.GeneralModel.Contact[0].Phone</li>
                                        <li><i class="icons fa fa-phone"></i>@Common.GeneralModel.Contact[0].Fax</li>
                                        <li><i class="icons fa fa-envelope-o"></i> @Common.GeneralModel.Contact[0].Mail </li>
                                    </ul>
                                </div>
                                @*<div class="form-email">
                                        <p class="text">Sign up for our mailing list to get latest updates and offers.</p>
                                        <form id="myForm2">
                                            <div class="input-group">

                                                <input type="email" class="form-control form-email-widget" placeholder="Email address" id="Mail2" >
                                                <span class="input-group-btn">
                                                    <button type="submit" id="btnSave2" onclick="sendnewsletter2()" class="btn-email">&#8594;</button>
                                                </span>

                                            </div>
                                            <span id="MSG2" style="color: white">

                                            </span>
                                        </form>

                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">

 

    $(document).ready(function () {
        $("#btnSubmitNewslatter").click(function () { 
            sendnewsletter();
        });
           
        function validateEmail(email) { 
            var pattern = new RegExp("[-0-9a-zA-Z.+_]+@@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}");
            return pattern.test(email);
        } debugger;

        $('#btnSubmitNewslatter').attr('disabled', true);
        $('#Mail').keyup(function () {
            if ($(this).val().length != 0) {
                $('#btnSubmitNewslatter').attr('disabled', false);
            } else {
                $('#btnSubmitNewslatter').attr('disabled', true);
            }
        });

      
        function sendnewsletter() { 
            // First way to get a value
            var value = $("#Mail").val();

            // Second way to get a value
            value = $("#Mail").attr('value');
          
            if (!validateEmail(newsletter.Mail)) {
                $("#MSG").text(" Error in Newsletter");
                $("#MSG").css("color", "red");

            } else {
                $('#btnSubmitNewslatter').attr('disabled', true);
                $('#MSG').html(' NewsletterSending');
                //   var apiUrl = document.querySelector('#HServicesURL').value;
                $.ajax({
                url: "http://touristaegy.com/backend/API/Newsletters",
                 //   url: "http://localhost:50755/API/Newsletters", 
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        debugger;
                        if (data.email != "") {
                            $('#MSG').html(" NewsletterSubmitMsg");
                            $('#btnSubmitNewslatter').attr('disabled', false);
                            alert("Thanks, we will contact you soon")
                        } else {
                            $('#MSG').html(" AlreadyExist");
                        }

                    },
                    data: { Email: $("#Mail").val() }
                });
            }
            //Validate Email Input

        }

 
    });
</script>
